


/*-----------PREDETERMINED CSS ---------*/

* {
    padding: 0;
    margin:0;
}

body {
    font-family: sans-serif;
}



/*-----------Buttons and Links ---------*/

p a {
    border:1px solid #333333;
    border-radius: 25px;
    padding: 5px 10px;
    display:inline-block;
    cursor:pointer;
    text-decoration: none;
    color:#333333;
    transition:0.35s;
    
   
}

p a:hover{
    background-color: #333333;
    color:white;
    transition: 0.2s;
}

#footer-details a:hover{
    background-color: white;
    color:#333333;
    transition:0.2s;
}

/*----------====================---SHOWCASE ---------==========================-----*/
#showcase {
text-align: center;
background:
linear-gradient( rgba(42, 33, 65, 0.678),
                 rgba(66, 55, 75, 0.63)
                 ),
url(https://c.pxhere.com/photos/b4/46/coding_programming_working_macbook_laptop_technology_office_desk-860609.jpg!d);
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
}

#showcase h1 {
    font-size: 50px;
    color:White;
    font-weight:900;
    padding-top:40vh;
    padding-right:20px;
    padding-left:20px;
}

#showcase-a-container {
position:relative;
top:40vh;
display:inline-block;
padding: 0px 15px;
margin:0px auto;
text-align:center;
cursor: pointer;

}
#showcase a {
font-size:1.3rem;
}

#showcase a {
    color:#fff;
    font-size:2vw;
    cursor: pointer;
 
  
}
ul {
    list-style: none;
}

#firstli {
    position: absolute;
    left:93vw;
    top:20vh;
    
}
#secondli {
    position: absolute;
    left:93vw;
    top:30vh;
}
#thirdli {
    position: absolute;
    left:92.79vw;
    top:40vh;  
}

#firstli a, #secondli a ,#thirdli a {
   color:rgb(214, 214, 214);
   transition:0.3s;
}
#firstli a:hover, #secondli a:hover ,#thirdli a:hover {
    color:rgb(255, 255, 255);
    transition:0.1s;
 }

/*--------------===================-----Title Container --------======================------*/
#title-container{
    margin:100px 0px 200px 0px;
    height:240px;
    text-align: center;
   
}

#title-container h2{
    text-align: center; 
    font-size:1.6rem;
    font-weight: 100;
    padding: 10px 20px 30px 20px;
    rgb(37, 37, 37);

}
#title-container h1{
    text-align: center; 
    font-family: 'Lato', sans-serif;
    font-size:2.3rem;
    font-weight: 900;
    padding: 50px 20px 0 20px;
    color: rgb(37, 37, 37);
}


    #title-container div{
     text-align: center;
}

#my-face {
    border:0px solid black;
    border-radius: 50%;
    height:100px;
    width:100px;
    margin:0px auto;
    background-image: url(images/my-face.jpg);
    background-repeat: no-repeat;
    background-size:450px;
    background-position: -170px -20px;
    transition:200ms;
}

#my-face:hover {
    -moz-box-shadow: 0px 0px 1px 10px  rgb(117, 107, 255); 
    -webkit-box-shadow: 0px 1px 0px 10px  rgb(117, 107, 255); 
    box-shadow: 0px 0px 1px 10px rgb(117, 107, 255); /* For IE 8 */
   
    transition: 200ms;
}


/*-------------TECHNO - SHOWCASE --------------*/

#techno-showcase-container {
    background-color:#333333;
    margin-bottom:13px;
    text-align: center;
}


#techno-showcase {
    width:80vw;
    margin:0px auto;
    height:350px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0px;
    overflow:hidden;
    

   
    
}

#techno-showcase div {
    
    text-align: center;
    font-size:1rem;
    color:white;
    overflow:hidden;  
}



     #html-img {
        background-image: url(images/html.png);
        background-size: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-position: center 80px;
        
    }

    #css-img {
        background-image: url(images/css.png);
        background-size: 162px;
        background-repeat: no-repeat;
        background-position: center 102px;
        
       
    }
   #js-img {
        background-image: url(images/js.png);
        background-size: 320px;
        background-repeat: no-repeat;
        background-position: center 93px;
        
    }
    #cool-img {
        background-image: url(images/design.png);
        background-size: 186px;
        background-repeat: no-repeat;
        background-position: center 86px;
       
         
    }
    

#techno-showcase div h4 {
    color: rgb(255, 255, 255);
    padding-top: 280px;
    font-size:1rem;
    font-weight: 100;
}

#comment1  {
    text-align: center;
    color: rgb(255, 255, 255);
    padding:80px 20px 0px 20px;
    font-size:1.8rem;
    font-weight:100;
    
}


/*-------------first - SHOWCASE --------------*/



#first-showcase {
 
    margin:0px auto;
    height:550px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 13px;
    margin-bottom: 13px;
    overflow:hidden;
     
}

#git-div {
    text-align: center;
    background-color: rgba(235, 235, 235, 0.40);
    background-image: url(images/github2.png);
    background-repeat: no-repeat;
    background-position: center 210px;
    background-size:300px;
    overflow: hidden;
    border-radius: 0px 10px 10px 0px;
  

}

#node-div {
    text-align: center;
    background-color: rgba(235, 235, 235, 0.40);
    overflow: hidden;
    border-radius: 10px 0px 0px 10px;
    background-image: url(images/node.png);
    background-repeat: no-repeat;
    background-position: center 260px;
    background-size:300px;
  

}

.comment  {
    padding:50px 20px 0px 20px;
    color: rgb(30, 42, 65);
    font-size:1.2rem;
    font-weight:100;
}

.comment span {
    font-size: 2rem;
    font-weight: bold;
    
}

/*-------------SECOND - SHOWCASE --------------*/

#second-showcase {
    margin:0px auto;
    height:550px; 
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 13px;
    margin-bottom: 13px;
    overflow:hidden;
}
#second-showcase div {
    text-align: center;
    background-color: rgba(235, 235, 235, 0.40);
}

#ps-img {
background-image: url(images/ps.png);
background-repeat: no-repeat;
background-position:center 240px;
background-size: 250px;
border-radius: 0px 10px 10px 0px;
}


#wordpress-img {
background-image: url(images/wordpress.png);
background-repeat: no-repeat;
background-position:center 250px;
background-size: 320px;
border-radius: 10px 0px 0px 10px;
}

/*-------------PHP and MySQL - SHOWCASE --------------*/



#php-showcase {
 
    margin:0px auto;
    height:300px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 13px;
     
}

#php-showcase div {
    text-align: center;
    font-size:1rem;
    background-color: rgba(235, 235, 235, 0.40);
    overflow: hidden;
    padding: 0px 10px;
  
}
#php-comment{
    min-width:226px;   
}

#php-comment p{
    min-width:226px;  
    padding-top: 18%;
}

#php-img {
  width:400px;
  position: relative;
  top:70px;
  left:20%;
  
}

#mysql-img {
    width:300px;
    position: relative;
     top:25px;
     right:5%;
     padding: 50px;
     
}

/*-------=--------==-------======------Projects Section ---=------=------=------=----*/

#project-section {
display:grid;
grid-gap:10px;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
background-color:rgb(255, 233, 218);
border-radius: 40px;
width:620px;
margin:60px auto;
padding:10px;
}

#project1 {
height:200px; 
width:200px;
border-radius:40px;
background-color:red;

}

#project2 {
    height:200px; 
    width:200px;
    border-radius:40px;
    background-color:rgb(183, 255, 227);
    
}

#project3 {
    height:200px; 
    width:200px;
    border-radius:40px;
    background-color:rgb(167, 124, 163);
    
}
/*-------=--------==-------======------Footer ---=------=------=------=----*/

footer {
    background-color:#333333;
    overflow:hidden;
    display:grid;
    grid-template-columns: 1fr  400px;
}

#footer-details {
    text-align: left;
    color: rgb(255, 255, 255);
    padding:80px 20px 20px 40px;
    font-size:1.2rem;
    font-weight:100;
    
    
}


#footer-details span {
  
    color: rgb(255, 255, 255);
    padding:30px 0px 0px 0px;
    font-size:2rem;
    font-weight: bold;
    
}
#footer-details a{
    color:white;
    border:1px solid white;
    transition:0.35s;

}


    /*------------------FORM ----------------*/

    #form-container {
    text-align: right;

    }
    form {
        text-align: left;
        margin:80px 40px 40px 20px;
        color:white;
        padding-left:20px;
        border-left:1px solid white;
    }
    form input{
        padding:5px 10px 5px 10px;
        color:black;;
        margin:10px;
        width:147px;
     

    }
    form textarea{
        padding:5px 10px 5px 10px;
        color:black;;
        margin:10px;
        width:278px;
     

    }
    form span{
        padding:5px 10px 5px 10px;
        color:white;
        margin:0px;
  

    }

    form p {
        color: rgb(255, 255, 255);
        padding:0px 0px 30px 0px;
        font-size:2rem;
        font-weight: bold;
    }

    #submit {
        color:#fff;
        background-color:#333333;
        border-radius: 15px;
        font-size: 1rem;
        cursor:pointer;
        transition:0.12s;
    }

    #submit:hover {

        background-color:#555555;
        border-radius: 15px;
        transition:0.12s;
    }


   footer  #contact-details {
        font-size:18px;
        font-weight:100;
     
    }

    /*-----------Hide Class---------*/

.hiding {
    display:none;
}


    /*------------------MEDIA QUERIES ---------------*/

    @media only screen and (max-width:1100px) {


            #comment1 {

                padding-left:60px;
                padding-right:60px;
            }
        #techno-showcase {
            height:300px;
        }

        #html-img {
            background-size: 150px;
            background-position: center 62px;
        }
    
        #css-img {
            background-size: 122px;
            background-position: center 79px;
           
        }
       #js-img {
             background-size: 240px;
            background-position: center 72px;
        }

        #cool-img {
            background-size: 137px;
            background-position: center 73px;
        }

        
      #techno-showcase div h4 {
            padding-top: 210px;      
}

#php-img {
    width:300px;
    position: relative;
    top:70px;
    left:20%;
  }
  
  #mysql-img {
      width:200px;
      position: relative;
       top:25px;
       right:12%;
  }

  
#firstli {
    position: absolute;
    left:93vw;
    top:20vh;
    
}
#secondli {
    position: absolute;
    left:93vw;
    top:26vh;
}
#thirdli {
    position: absolute;
    left:92.79vw;
    top:32vh;  
}

#git-div {
    background-position: center 260px;
    background-size:230px;
}

#node-div {
    background-position: center 300px;
    background-size:230px;
}

#ps-img {
    background-position:center 280px;
    background-size: 200px;
    
    }
    
    
    #wordpress-img {
    background-position:center 300px;
    background-size: 230px;
    
    }


  
    }

    @media only screen and (max-width:860px) {

     
      #showcase a {
         
          font-size:1.3rem;
         

   
      }
        #firstli {
            position: absolute;
            left:90vw;
            top:20vh;
            
        }
        #secondli {
            position: absolute;
            left:90vw;
            top:26vh;
        }
        #thirdli {
            position: absolute;
            left:89.79vw;
            top:32vh;  
        }


        #techno-showcase {

height:250px;
        }

 #techno-showcase div h4 {
            padding-top: 150px;  
            
}
        #comment1 {
            font-size:1.3rem;
            padding-top: 60px;
            padding-bottom: 60px;
        }
        #html-img {
            background-size: 130px;
            background-position: center 20px;
        }
    
        #css-img {
            background-size: 106px;
            background-position: center 35px;
           
        }
       #js-img {
             background-size: 204px;
            background-position: center 30px;
        }

        #cool-img {
            background-size: 124px;
            background-position: center 28px;
        }



        #php-showcase {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 13px;
                }

        #php-comment {
            border-radius:14px;
        }
        #php-div {
            display:none;
            min-width:0px;
         }
         #php-div p{
           
            min-width:0px;
         }

         #mysql-img {
             display:none;
         }

         #mysql-div {
             background-image: url(images/php_mysql.png);
             border-radius:14px;
             background-repeat: no-repeat;
             background-size: 220px;
             background-position: center;
             overflow:hidden;
         }

        footer {
            grid-template-columns: 1fr;
         }
         form {
             margin-right:20px;
             margin-top:40px;
         }

         #footer-details{
             padding:40px 20px 20px 20px;
         }
    }

 
    @media only screen and (max-width:675px) { 

        #showcase-a-container {
            top:47vh;
        }
        #showcase h1 {
            font-size:30px;
        }

        #firstli {
            position: absolute;
            left:80px;
            top:1vh;
            
        }
        #secondli {
            position: absolute;
            left:20px;
            top:1vh;
        }
        #thirdli {
            position: absolute;
            left:140px;
            top:1vh;  
        }

        #title-container h1{
            font-size:1.4rem;
            padding-left:20px;
            padding-right:20px;
        }
        #title-container h2{
            font-size:1.2rem;
            padding-left:20px;
            padding-right:20px;

        }
        #techno-showcase {
            height:150px;
        }
        #techno-showcase div h4 {
            padding-top: 100px;  
            
}
        #comment1 {
            font-size:1.1rem;
            padding-top: 40px;
            padding-bottom: 20px;
        }
        #html-img {
            background-size: 70px;
            background-position: center 26px;
        }
    
        #css-img {
            background-size: 56px;
            background-position: center 33px;
           
        }
       #js-img {
             background-size: 110px;
            background-position: center 30px;
        }

        #cool-img {
            background-size: 64px;
            background-position: center 28px;
        }

        #first-showcase{
            grid-template-columns: 1fr;
            height:1000px;
        }

            #second-showcase{
                grid-template-columns: 1fr;
                height:1000px;
            }
     
            #php-showcase {
                display:block;
                height:500px;
            }
             #mysql-div {
                 display:none;
             }
             #php-comment{
                 height:500px;
                 background-image: url(images/php_mysql.png);
                 background-repeat:no-repeat;
                 background-position:center 220px;
                 background-size:250px;
             }
             #php-comment p{
                min-width:226px;  
                padding-top: 70px;
            }
            footer {
                grid-template-columns: 1fr;
                height:auto;
                padding-bottom:20px;
            }
            form {
                max-width:330px;
               margin:50px auto 20px auto;
               border:2px solid white;
               border-radius:14px;
               padding:5px 5px 5px 5px;
               float:none;
            }
   
            #footer-details{
                padding:40px 20px 20px 20px;
        
            
            margin:0px auto;
            }
 }  
    @media only screen and (max-width:460px) {
        
        #showcase-a-container {
            top:40vh;
        }
        #techno-showcase {
            grid-template-columns: repeat(2,1fr);
            height:300px;
            padding-bottom:40px;
          
        }

        #techno-showcase div h4 {
            padding-top: 100px;          
}

        #comment1 {
            font-size:1.1rem;
            padding: 60px 45px 50px 45px;
        }
        #html-img {
            background-size: 100px;
            background-position: center 0px;
        }
    
        #css-img {
            background-size: 81px;
            background-position: center 11px;
            
           
        }
       #js-img {
             background-size: 150px;
            background-position: center 10px;
        } 

        #cool-img {
            background-size: 84px;
            background-position: center 13px;
        }

    
    form textarea{
        padding:5px 10px 5px 10px;
        color:black;;
        margin:10px;
        width:200px;
     
    }
    form {
        margin-left:10px;
        margin-right:10px;
    }
    }

  