* {
    padding: 0;
    margin:0;
}

body {
    font-family: 'KoHo', sans-serif;
}
/*-----------PREDETERMINED CSS ---------*/



/*-------------SHOWCASE --------------*/
#showcase {
text-align: center;
height:300px;
background:
linear-gradient( rgba(42, 33, 65, 0.678),
                 rgba(66, 55, 75, 0.63)
                 ),
url(https://c.pxhere.com/photos/b4/46/coding_programming_working_macbook_laptop_technology_office_desk-860609.jpg!d);
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

#showcase h1 {
    font-size: 5vw;
    color:White;
    font-weight:900;
    padding-top:35vh;
}

#showcase h3 {
    font-size: 3vw;
    color:White;
    font-weight:900;
    padding-top:5vh;
}

#showcase a {
    color:white;
    font-size:2vw;
    cursor: pointer;
    position: absolute;
    bottom:10vh;
    left:37vw;
    font-weight: 100;
  
}


/*-------------Title Container --------------*/
#title-container{
    margin:100px 0px 200px 0px;
    height:200px;
    text-align: center;
   
}

#title-container h2{
    text-align: center; 
    font-size:1.5rem;
    font-weight: 100;
    padding: 30px 0px;
    rgb(37, 37, 37)

}
#title-container h1{
    text-align: center; 
    font-family: 'Lato', sans-serif;
    font-size:2.5rem;
    font-weight: 900;
    padding-top: 50px ;
    color: rgb(37, 37, 37)

}


    #title-container div{
     text-align: center;
}

#my-face {
    border:0px solid black;
    border-radius: 50%;
    height:100px;
    width:100px;
    margin:0px auto;
    background-image: url(images/my-face.jpg);
    background-repeat: no-repeat;
    background-size:450px;
    background-position: -170px -20px;
}


/*-------------TECHNO - SHOWCASE --------------*/

#techno-showcase-container {
    background-color: rgba(235, 235, 235, 0.479);
    margin-bottom:17px;
    text-align: center;
}

#main-skills{
    font-size: 2rem;
    color:gray;
    position: relative;
    right: 37vw;

}

#techno-showcase {
    width:1280px;
    margin:0px auto;
    height:250px;
    
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    

   
    
}

#techno-showcase div {
    
    text-align: center;
    font-size:1rem;
    border-radius:10%;
    width:300px;
   

}

#techno-showcase div i {
    color: rgb(30, 42, 65);
    padding-top: 40px;
   

}

    #techno-showcase div #html-img {
        color: rgb(209, 89, 46);
    }
    #techno-showcase div #css-img {
        color: rgb(55, 66, 212);
    }
    #techno-showcase div #js-img {
        color: rgb(194, 186, 77);
    }
     #techno-showcase div #cool-img {
         color: rgb(59, 128, 50);
    }
    

#techno-showcase div h4 {
    color: rgb(30, 42, 65);
    padding-top: 10px;
    font-size:1rem;
    font-weight: 100;
}

#comment1  {
    text-align: center;
    color: rgb(30, 42, 65);
    padding:20px 0px 0px 0px;
    font-size:1.8rem;
    font-weight:100;
    
}


/*-------------Git - SHOWCASE --------------*/



#git-showcase {
 
    margin:0px auto;
    height:350px;
    
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 17px;
     
}

#git-showcase div {
    text-align: center;
    font-size:1rem;
    margin-bottom: 17px;
    background-color: rgba(235, 235, 235, 0.479);
  

}

#comment2  {
   position: relative;
   left:200px;
    color: rgb(30, 42, 65);
    padding:100px 0px;
    font-size:1.4rem;
    font-weight:100;
}

#comment2 span {
    font-size: 2rem;
    
}

#github-img {
    background-image: url(images/github.png);
    background-repeat: no-repeat;
    background-position: 70px;
}

/*-------------Node - SHOWCASE --------------*/



#node-showcase {
 
    margin:0px auto;
    height:350px;
    
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 17px;
     
}

#node-showcase div {
    text-align: center;
    font-size:1rem;
    margin-bottom: 17px;
    background-color: rgba(235, 235, 235, 0.479);
  

}

#comment3  {
   position: relative;
   left:-200px;
    color: rgb(30, 42, 65);
    padding:100px 0px;
    font-size:1.4rem;
    font-weight:100;  
}

#comment3 span {
    font-size: 2rem;
    
}

#node-img {
    background-image: url(images/node.png);
    background-repeat: no-repeat;
    background-position: 530px;
    background-size: 300px;
}

/*-------------PHP and MySQL - SHOWCASE --------------*/



#php-showcase {
 
    margin:0px auto;
    height:350px;
    
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 17px;
     
}

#php-showcase div {
    text-align: center;
    font-size:1rem;
    margin-bottom: 17px;
    background-color: rgba(235, 235, 235, 0.479);
  

}

#comment4  {
 
    color: rgb(30, 42, 65);
    padding:100px 0px;
    font-size:1.4rem;
    font-weight:100;  
}

#comment4 span {
    font-size: 2rem;
    
}

#php-img {
    background-image: url(images/php2.png);
    background-repeat: no-repeat;
    background-position:270px 80px; 
    background-size: 400px;
}

#mysql-img {
    background-image: url(images/mysql.png);
    background-repeat: no-repeat;
    background-position:100px 80px; 
    background-size: 300px;
}