* {
    margin: 0px;
    padding: 0px;
}


body {
    font-family: sans-serif;
}



/*-----------Buttons and Links ---------*/

p a {
    border:1px solid #333333;
    border-radius: 25px;
    padding: 5px 10px;
    display:inline-block;
    cursor:pointer;
    text-decoration: none;
    color:#333333;
    transition:0.35s;
    
   
}

p a:hover{
    background-color: #333333;
    color:white;
    transition: 0.2s;
}




/*----------====================---SHOWCASE ---------==========================-----*/
#showcase {
    text-align: left;
    background:
    linear-gradient( rgba(42, 33, 65, 0.678),
                     rgba(66, 55, 75, 0.63)
                     ),
    url(https://c.pxhere.com/photos/b4/46/coding_programming_working_macbook_laptop_technology_office_desk-860609.jpg!d);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 10px;
    }
    
    #showcase h1 {
        font-size: 90px;
        color:White;
        font-weight:900;
        padding-top:30px;
        padding-right:20px;
        padding-left:50px;
    }
    

  #showcase p {
    color:white;
    padding: 50px;
    font-size:1.5rem;
    font-weight: 100;
  }

  ul {
        list-style: none;
    }
    
    #homeli {

        position: absolute;
        left:92.8vw;
        top:10vh;
        
    }
    #firstli {
        position: absolute;
        left:93vw;
        top:20vh;
        
    }
    #secondli {
        position: absolute;
        left:93vw;
        top:30vh;
    }
    #thirdli {
        position: absolute;
        left:92.79vw;
        top:40vh;  
    }
    
    #homeli a, #firstli a, #secondli a ,#thirdli a {
       color:rgb(214, 214, 214);
       transition:0.3s;
    }
    #homeli a:hover, #firstli a:hover, #secondli a:hover ,#thirdli a:hover {
        color:rgb(255, 255, 255);
        transition:0.1s;
     }


     /*----------====================---Gallery - Main ---------==========================-----*/
    .div-img {
        background-repeat: no-repeat;
         background-position: center;
         background-size: cover;


     } 
     

     .text-for-img {
        color:#fff;
        font-size: 1.5rem;
        text-align:center;
        padding: 150px 30px;  
        background-color: #333333;
        


     }
  
     #grid-container-wide-img-1 {
         display:grid;
         grid-gap: 10px;
         grid-template-columns: 30% 1fr;
         height:500px;
         margin:10px 5px;
     }
     .grid-container-small-img {
        display:grid;
        grid-template-columns: 1fr 1fr;
        height:400px;
        margin:10px 5px;
    }

     #img1 {
         background-image: url('/images/Firewatch_with_no_watch.png');
     }

   

     #img2 {
        background-image: url('/images/Stag.png');
    }